<template name="PaymentsInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> PaymentsInsertForm}}
	</div>
</template>

<template name="PaymentsInsertForm">
	<div id="payments-insert-form" class="">
		<h2 id="component-title">
			Insert
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-pay_req_date">
				<label for="pay_req_date">
					Pay_req_date
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="pay_req_date" value="" class="form-control " autofocus="autofocus" data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pay_req_amount">
				<label for="pay_req_amount">
					Pay_req_amount
				</label>
				<div class="input-div">
					<input type="text" name="pay_req_amount" value="0.00" class="form-control " required="required" data-type="float" data-min="0.00">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pay_req_story">
				<label for="pay_req_story">
					Pay_req_story
				</label>
				<div class="input-div">
					<textarea class="form-control " name="pay_req_story"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-paid">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="false" name="paid" data-type="bool">
							Paid
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-debit">
				<label for="debit">
					Debit
				</label>
				<div class="input-div">
					<input type="text" name="debit" value="" class="form-control " data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-credit">
				<label for="credit">
					Credit
				</label>
				<div class="input-div">
					<input type="text" name="credit" value="" class="form-control " data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-paid_date">
				<label for="paid_date">
					Paid_date
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="paid_date" value="" class="form-control " data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-paid_how">
				<label for="paid_how">
					Paid_how
				</label>
				<div class="input-div">
					<textarea class="form-control " name="paid_how"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-paid_to">
				<label for="paid_to">
					Paid To
				</label>
				<div class="input-div">
					<input type="text" name="paid_to" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

