<template name="CustomersEdit">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> CustomersEditForm}}
	</div>
</template>

<template name="CustomersEditForm">
	<div id="customers-edit-form" class="">
		<h2 id="component-title">
			Edit
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="{{customers_selected.name}}" class="form-control " autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-tel_mob">
				<label for="tel_mob">
					Mobile
				</label>
				<div class="input-div">
					<input type="text" name="tel_mob" value="{{customers_selected.tel_mob}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-tel_fixed">
				<label for="tel_fixed">
					Telephone (Fixed)
				</label>
				<div class="input-div">
					<input type="text" name="tel_fixed" value="{{customers_selected.tel_fixed}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-fax">
				<label for="fax">
					Fax
				</label>
				<div class="input-div">
					<input type="text" name="fax" value="{{customers_selected.fax}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-email">
				<label for="email">
					Email
				</label>
				<div class="input-div">
					<input type="text" name="email" value="{{customers_selected.email}}" class="form-control " required="required" data-type="email">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-contact_person">
				<label for="contact_person">
					Contact Person
				</label>
				<div class="input-div">
					<input type="text" name="contact_person" value="{{customers_selected.contact_person}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-phy_address">
				<label for="phy_address">
					Physical Address
				</label>
				<div class="input-div">
					<textarea class="form-control " name="phy_address">{{customers_selected.phy_address}}</textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-postal_address">
				<label for="postal_address">
					Postal Address
				</label>
				<div class="input-div">
					<textarea class="form-control " name="postal_address">{{customers_selected.postal_address}}</textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-website">
				<label for="website">
					Website
				</label>
				<div class="input-div">
					<input type="text" name="website" value="{{customers_selected.website}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-notes">
				<label for="notes">
					Notes
				</label>
				<div class="input-div">
					<textarea class="form-control " name="notes">{{customers_selected.notes}}</textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-paid_to_date">
				<label for="paid_to_date">
					Paid To Date
				</label>
				<div class="input-div">
					<input type="text" name="paid_to_date" value="{{customers_selected.paid_to_date}}" class="form-control " data-type="float" data-min="0.0">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-reg_date">
				<label for="reg_date">
					Registration Date
				</label>
				<div class="input-div">
					<div class="input-group date">
						<input type="text" name="reg_date" value="{{formatDate customers_selected.reg_date ''}}" class="form-control " data-type="date">
						<span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-notes">
				<label for="notes">
					Notes
				</label>
				<div class="input-div">
					<textarea class="form-control " name="notes">{{customers_selected.notes}}</textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

